@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face
{
    font-family: 'Shin Go';
    font-style: normal;
    font-weight: normal;
    src: local('A-OTF Shin Go Pro R'), url('../public/fonts/AOTFShinGoProRegular.woff') format('woff');
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	background-color: #25252a;
	font-family: "Shin Go", sans-serif;
}